/* ================= NAVBAR ================= */

/* Navbar Container */
nav {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  box-shadow: var(--box-shadow);
}

/*--- Logo Block ---*/
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-width: 18rem;
  height: auto;
}

/*--- List Block ---*/
.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-lg) 0;
  gap: var(--spacing-lg);
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  transition: top 0.3s ease-in-out;
  box-shadow: var(--box-shadow);
  z-index: var(--z-nav);
}

.nav__list.active {
  top: 0;
}

.nav__item {
  width: 100%;
  text-align: center;
}

.nav__link {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.nav__link:hover {
  color: var(--secondary-color);
}

.nav__link:hover::after {
  width: 100%;
}

/*--- Hamburger Menu ---*/
.hamburger {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: var(--spacing-sm);
  position: relative;
  z-index: calc(var(--z-nav) + 10); 
}

.hamburger__line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: var(--primary-color);
  transition: transform 0.3s ease-in-out;
}

/*--- Hamburger Menu Animation ---*/
.hamburger.active .hamburger__line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}
.hamburger.active .hamburger__line:nth-child(2) {
  opacity: 0;
}
.hamburger.active .hamburger__line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}

/* === DESKTOP (a partir de 768px) === */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .logo img {
    max-width: 13rem;
    height: auto;
    margin-left: var(--spacing-xl);
  }

  .nav__list {
    position: static;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    top: auto;
    width: auto;
    background: none;
    box-shadow: none;
    padding: 0;
    margin-right: var(--spacing-xl);
  }

  .nav__item {
    width: auto;
  }

  .nav__link {
    color: var(--text-light);
  }

  nav a:hover {
    text-decoration: none;
  }

  .nav__link:hover {
    color: var(--primary-color);
  }
}